<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dylan Sale</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<date>2011-09-23T11:33:37Z</date>
	<key>Description</key>
	<string>An example of the different ellipse modes and how they work</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_ELLIPSEMODES_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_ELLIPSEMODES_NAME</string>
	<key>Order</key>
	<integer>3</integer>
	<key>Introduced</key>
	<integer>241</integer>
</dict>
</plist>
