<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<date>2011-10-07T15:33:55Z</date>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Shows how shapes respond to the smooth, noSmooth and noStroke settings</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_SHAPESANDSMOOTH_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_SHAPESANDSMOOTH_NAME</string>
	<key>Order</key>
	<integer>4</integer>
	<key>Introduced</key>
	<integer>118</integer>
</dict>
</plist>
