<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<string>2012-11-01 14:08:59 +0000</string>
	<key>Description</key>
	<string>Demonstrates the new camera input type for sprites, images and meshes.</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_CAMERA_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_CAMERA_NAME</string>
	<key>Order</key>
	<integer>12</integer>
	<key>Introduced</key>
	<integer>118</integer>
</dict>
</plist>
