<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<string>2012-10-22 15:29:36 +0000</string>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Demonstrates the blendMode() function, which controls how drawing is blended on-screen.</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_BLENDMODES_DESCRIPTION</string>
	<key>Introduced</key>
	<integer>186</integer>
	<key>LocalizedName</key>
	<string>EXAMPLE_BLENDMODES_NAME</string>
	<key>Order</key>
	<integer>7</integer>
</dict>
</plist>
