<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dylan Sale</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<date>2011-09-24T05:41:50Z</date>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Example showing you how to draw lines and use the different line styles</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_LINES_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_LINES_NAME</string>
	<key>Order</key>
	<integer>0</integer>
	<key>Introduced</key>
	<integer>118</integer>
</dict>
</plist>
