<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon Saens</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Description</key>
	<string>Demo of enhanced touch API</string>
	<key>Icon</key>
	<string>Icon.pdf</string>
	<key>Introduced</key>
	<integer>147</integer>
	<key>Order</key>
	<integer>3</integer>
</dict>
</plist>
