<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>James Frost</string>
	<key>Buffer Order</key>
	<array>
		<string>Ball</string>
		<string>Main</string>
		<string>Paddle</string>
		<string>Pointer</string>
	</array>
	<key>Description</key>
	<string>A multiplayer Pong game. Tap to launch the ball and drag to control the paddles. First to five wins! By James Frost. </string>
	<key>Introduced</key>
	<integer>241</integer>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_PING_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_PING_NAME</string>
	<key>Order</key>
	<integer>28</integer>
</dict>
</plist>
