<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dylan Sale</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<date>2011-10-06T12:37:09Z</date>
	<key>Description</key>
	<string>Simple example of using the multitouch interface</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_MULTITOUCH_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_MULTITOUCH_NAME</string>
	<key>Order</key>
	<integer>2</integer>
	<key>Introduced</key>
	<integer>147</integer>
</dict>
</plist>
