<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Test</string>
		<string>Basics</string>
		<string>Loops</string>
		<string>Sequence</string>
		<string>Path</string>
		<string>Circle</string>
	</array>
	<key>Created</key>
	<string>2012-11-01 15:55:49 +0000</string>
	<key>Description</key>
	<string>Shows how to use the tween function to animate variables over time with different easing parameters.</string>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_ANIMATION_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_ANIMATION_NAME</string>
	<key>Order</key>
	<integer>11</integer>
	<key>Introduced</key>
	<integer>183</integer>
</dict>
</plist>
