<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
	</array>
	<key>Created</key>
	<string>2012-04-29 16:25:10 +0000</string>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Here we look at the features available in Codea for saving and reading images in code as well as in the editor.</string>
	<key>Introduced</key>
	<integer>241</integer>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_IMAGEIO_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_IMAGEIO_NAME</string>
	<key>Order</key>
	<integer>31</integer>
</dict>
</plist>
