<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Buffer Order</key>
	<array>
		<string>Cloud</string>
		<string>CloudLevels</string>
		<string>Girl</string>
		<string>Main</string>
	</array>
	<key>Dependencies</key>
	<array/>
	<key>Description</key>
	<string>Jump as high as you can! Tap to make Princess jump, then tilt to bounce from cloud to cloud.</string>
	<key>Introduced</key>
	<integer>202</integer>
	<key>LocalizedDescription</key>
	<string>EXAMPLE_LUAJUMP_DESCRIPTION</string>
	<key>LocalizedName</key>
	<string>EXAMPLE_LUAJUMP_NAME</string>
	<key>Order</key>
	<integer>25</integer>
</dict>
</plist>
